<launch>
  <node ns="nerian" name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" required="true" output="screen"/> -->
  <node pkg="lidar2depth" name="lidar2depth" type="lidar2depth_node" required="true" output="screen">
    <remap to="/os1_cloud_node/points" from="points"/>
    <remap to="/nerian/left/camera_info_mono" from="camera_info"/>
  </node>
  <rosparam command="load" file="rellis_params.yaml" />
  <node pkg="lidar2depth" name="write_pairs" type="synchronized_writer.py" respawn="false" required="true" output="screen" cwd="ROS_HOME">
  </node>
</launch>

